/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2018, 12:43:10 PM
    Author     : PRR1TL
*/

.amcharts-chart-div a {display:none !important;}

* {padding:0; margin:0; }

.btnRegresar{
    float: right; 
    position: absolute; 
    top: -1%; 
    margin-left: 11.5%;
    width: 4.0%;
}

.tituloPareto{
    text-align: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 50%; 
    width: 100%
}

.pickers{
    position: fixed;
    margin-top: 30px;
    left: 0;
    right: 50%;
    width: 100%;
}

.cmbTxtArriba{
    width: 70px;
    height: 30px;
    margin: 0px 5px;
}

.cmbTxtArriba2{
    width: 70px;
    height: 30px;
    margin: 1px 50px;
}

#headerTop3{
    margin: -2% 1%;
    color: white;	
    width: 98%;
    position: fixed;
    z-index: 1001;
    height: 55px;
} 

#graficas {
    width: 98%;
    height: 95%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 2% 1% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
}

.contenedor {
  display:flex;
}

.contenedor > div {
  flex:1;
  display:flex;
}

.fila0 { float: left; background: #008C5B; }
.fila1 { float: left; background: #02538B; }

.letraOEE{
    font-size:12px;
}

/*********** SCROLL ********************************/
table td, table th { 
    padding: 0.3em;
    border: 1px solid black;
}
        
