/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Jun-2019, 14:36:29
    Author     : PRR1TL
*/


/*RESET DE VALORES PARA LOS DISTINTOS NAVEGADORES*/
* { 
    margin: 0; 
    pading: 0; 
} 

.amcharts-chart-div a { 
    display : none !important; 
} 

/* CONFIGURACION DE HEADER */
#header{
    margin: -2% 1%; 
    color: white; 
    height: 60px; 
    width: 98%; 
    position: fixed; 
    z-index: 1001; 
} 

.contenedor { 
  display:flex; 
} 

.contenedor > div { 
  flex:1; 
  display:flex; 
} 

.fila0 { float: left; background: #008C5B; }
.fila1 { float: left; background: #02538B; }

.pickers { 
    position: fixed; 
    top: 30px; 
    left: 0; 
    right: 50%; 
    width: 100%; 
} 

.btnRegresar{ 
    float: right; 
    position: absolute; 
    top: 3.5vh; 
    left: 93%; 
    width: 5.6%; 
} 

.titulo{ 
    text-align: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 50%; 
    width: 100%; 
} 

#cHourly { 
    width: 98%; 
    height: 95%; 
    position: relative; 
    overflow: hidden; 
    background: white; 
    margin: 2% 1% auto; 
    box-shadow: 0 0 80px rgba(0,0,0,2); 
}


/* CONFIGURACION DE TABLA */
table { 
    margin:0 auto; 
    border-collapse:separate; 
    width: 98%; 
    font-size:11.5px; 
} 
thead { 
    background:#CCCCCC; 
    display:block; 
} 
tbody { 
    height: 79vh; 
    overflow-y:scroll; 
    display:block; 
} 






