/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/05/2019, 11:59:49 AM
    Author     : PRR1TL
*/

/*RESET DE VALORES PARA LOS DISTINTOS NAVEGADORES*/
* { 
    margin: 0;
    pading: 0;
}

/*balise {
    margin: 15px;  Para otros navegadores 
    *margin: 20px;  Para IE6 y IE7 
    _margin: 20px;  Para IE6 
}*/

.amcharts-chart-div a {
    display : none !important;
}

.btnRegresarTop{
    float: right; 
    position: absolute; 
    top: 3.5vh; 
    left: 93%;
    width: 5.6%
}

.tituloPareto{
    text-align: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 50%; 
    width: 100%
}

.pickers{
    position: fixed;
    top: 30px;
    left: 0;
    right: 50%;
    width: 100%;
}

#headerTop3{
    margin: -2% 1%;
    color: white;
    height: 60px;	
    width: 98%;
    position: fixed;
    z-index: 1001;
}

#graficas {
    width: 98%;
    height: 95%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 2% 1% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
}

.contenedor {
  display:flex;
}

.contenedor > div {
  flex:1;
  display:flex;
}

.fila0 { float: left; background: #008C5B; }
.fila1 { float: left; background: #02538B; }

.letraOEE{
    font-size:12px;
}

/*********** SCROLL ********************************/

/*        .table-container {
            height: 100vh;
        }*/
/*        table { 
            -webkit-flex: 1;  Safari 6.1+ 
            -ms-flex: 1;  IE 10  
            flex: 1;
        } 
        table {
            display: flex;
            flex-flow: column;
            height: 90%;
            font-size:11px;
        }*/
        table tbody {
            /*display: block;*/
            overflow-y: scroll;
            width: 100%;
        }
/*        table td, table th {
            padding: 0.3em;
            border: 1px solid black;
        }*/
        