/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2019, 04:35:34 PM
    Author     : PRR1TL
*/

@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

body {
  font-family: "Archivo Narrow";
}

.amcharts-chart-div a {display:none !important;}

* {padding:0; margin:0; }

    #graficasPrincipal {
        width: 98%;
        position: relative;
        overflow: hidden;
        background: white;
        margin: 0% 1% auto;
        box-shadow: 0 0 80px rgba(0,0,0,2);
        justify-content: center;
    }
    
    .filaMenu {
        height: 20%;
        display: flex;
        justify-content: center;
    }
    
    .columnaMenuOEE { 
        width: 98%;
        height: 30vh;
        padding: 10px;
        margin: -1px; 
        justify-content: center;
    }
    
    .columnaMenu { 
        width: 48%;
        height: 30vh; 
        padding: 10px; 
        justify-content: center; 
    } 
    
    .graficaPanelOEE{ 
        height: 70vh; 
        width: 98.3%; 
        float: left;  
        margin: 0% 0%;
    } 
    
    .graficaPanel{ 
        height: 50vh; 
        width: 100%; 
        float: left;  
        margin: 0% 0%; 
    } 
    
    .tituloPanel{ 
        width: 100% 
    } 
    
    #headerFixedPrincipal{
        margin: 0 1%; 
        background: #08088A; 
        color: white; 
        height: 6%; 
        width: 98%; 
        position: fixed; 
        z-index: 1001;
    }
    
    .contenedor {
        display:flex;
    }

    .contenedor > div {
        flex:1;
        display:flex;
    }

    .fila0 { float: left; background: #008C5B; }
    .fila1 { float: left; background: #02538B; }
      
    .tituloPareto{
        font-size: 29px;
        text-align: center; 
        position: fixed; 
        top: 5px; 
        left: 0; 
        right: 50%; 
        width: 100%
    }
    
    .btnRegresarPareto{
        float: right; 
        position: absolute; 
        top: 1.5vh; 
        left: 2%;
        width: 5.6%
    }
    
    .pickersPrincipal{        
        margin: 1% 2%;
        position: fixed;
        top: 15px;
        left: 0;
        right: 50%;
        width: 100%;        
    }
    
    .datesPickets{
        display: flex;
        width: 120px;   
    }
    
    .monthPicker{
        display: flex;
        width: 10px;   
    }    
    
    .btnPrincipal { 
        margin-left: 5%;
        margin-right: 5%;
        float: none;
        width: 90%;
        justify-content: center;         
    } 
    
    .btnHourly{ 
        float: right;
        position: absolute; 
        top: 0px; 
        left: 87%;
        width: 7.6%
    } 
    
    .separacionesComponentesTitulo{ 
        margin: 0px 50px; 
    } 
    
    
    
    
    