/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/01/2019, 12:35:35 PM
    Author     : Areli Pérez Calixto (PRR1TL)
    Description: Estilo para las graficas de los jidokas
*/

@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

body {
    font-family: "Archivo Narrow";
    font-size: 19px;
}

.amcharts-chart-div a {
    display : none !important;
}

table.data th {
    background-color: #333;
    color:#fff;
    text-align: center;
    align-content: center;
}

table.data th, table.data td {
    font-family: Verdana;
    font-size: 12px;
    padding: 2px;
    border-spacing: 0px;
    text-align: center;
    align-content: center;
}

th {
    font-weight: bold;
    text-align: center;
    align-content: center;
    margin:0px auto 0px auto;
}

.jidokaDay {
    height: 60vh; 
    width: 99%; 
    float: left;  
    margin: 0% 0%;
}

.pnlOpcion {
    margin-left: 1%;
}

.pnlPickers {
    margin-top: 35%;
    margin-left: 1%;
}

.pickers {    
    width: 110px; 
}

.jidokaWeek {
    height: 24vh; 
    width: 40%; 
    float: right;  
    margin: 0% 0%;
}

.jidokaMonth {
    height: 24vh; 
    width: 60%; 
    float: left;  
    margin: 0% 0%;
}

#pnlGraficas {
    margin-top: -3vh ;
}

#pnlTabla {
    width: 98%;
    height: 35%;
    margin: 2% 2%;
}

#tablaDescripcion {
    margin-top: 2%;
    margin-left: 1%;
    width: 90%;
}

#graficasParetoPerdidasGeneral {
    width: 98%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 4% 1% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
}
	
.no {
    display:none;
}