/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/04/2019, 04:29:15 PM
    Author     : PRR1TL
*/

@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

* {
    padding:0; 
    margin:0; 
}

.amcharts-chart-div a {
    display:none !important;
}

.tableContenido{
    width: 225px;
}

.jidokaDay {
    height: 60vh; 
    width: 98%; 
    float: left;  
    margin: 0% 0%;
}

.pnlPickers{
    margin-top: 35%;
    margin-left: 3%;
}

.pickers { 
    margin-top: 25px;
    width: 100%; 
    height: 20px;
}

.contenidoCentrado {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.datesPickets { 
    width: 105px; 
    height: 29px;
}

.btnRegresar {
    float: right; 
    position: absolute; 
    top: 13.0%;
    margin-left: 0.5%;
    width: 4.0%
}

.btnTop3 {
    float: right;
    position: absolute; 
    top: 1.5vh; 
    left: 93%;
    width: 5.6%
}

.tituloPareto {
    text-align: center; 
    position: fixed; 
    top: -10px; 
    left: 0; 
    right: 50%; 
    width: 100%
}

#headerFixed {
    font-size: 40px;
    margin: -2% 1%;
    background: #08088A; 
    color: white; 
    height: 49px; 	
    width: 98%; 
    position: fixed; 
    z-index: 1001; 
} 

#pnlHoja {
    width: 98%;
    height: 97%;
    overflow-y: auto;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 2% 1% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2);
    justify-content: center;
}

#pnlGraficas {
    margin-top: -3vh ;
}

#pnlTabla {
    width: 98%;
    height: 130%;
    /*max-height: calc(580vh - 190px);*/
    margin: 2% 4%;
}

#titleGraf {
    float: left;
    text-decoration: none;
}	

.contenedor {
    display:flex;
}

.contenedor > div {
    flex:1;
    display:flex;
}

.fila0 { 
    float: left; 
    background: #008C5B; 
}

.fila1 { 
    float: left; 
    background: #02538B; 
}

.icono-centro {
    margin-top: -3px;
    margin-left: -7px;
}

#grafTec {
    height: 25vh; 
    margin-top: -1.2%; 
    width: 100%;
}

#grafOrg {
    height: 25vh; 
    margin-top: -1.2%; 
    width: 1400%
}

#grafCali {
    height: 25vh; 
    margin-top: -1.2%; 
    width: 1400%
}

