/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/05/2019, 03:17:20 PM
    Author     : PRR1TL
*/

@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

/*RESET DE VALORES PARA LOS DISTINTOS NAVEGADORES*/
* { 
    margin: 0;
    pading: 0;
} 

balise {
    margin: 15px; /* Para otros navegadores */
    *margin: 20px; /* Para IE6 y IE7 */
    _margin: 20px; /* Para IE6 */
}

body {
  font-family: "Archivo Narrow";
  font-size: 19px;
}

.amcharts-chart-div a {display:none !important;}

#headerFixed { 
    font-size: 40px; 
    margin: 0% 0%; 
    background: #08088A; 
    color: white; 
    height: 50px; 
    width: 100%; 
    position: fixed; 
    z-index: 1001; 
} 

#pnlHoja {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: white;
    margin: 0% 0% auto;
    box-shadow: 0 0 80px rgba(0,0,0,2); 
    justify-content: center;
}

.tituloPortal { 
    color: white; 
    font-size: 24px; 
    text-align: center; 
    position: fixed; 
    top: 0px; 
    left: 0; 
    right: 50%; 
    width: 100%; 
}

.contenedor {
    display:flex;
}

.contenedor > div {
    flex:1;
    display:flex;
}

.fila0 { 
    float: left; 
    background: #008C5B; 
}

.fila1 { 
    float: left; 
    background: #02538B; 
}

.icono-centro {
    margin-top: -3px;
    margin-left: -7px;
}

.btn-login {
    color: white;
    text-align: right; 
    position: fixed; 
    top: 5px; 
    margin-left: 36%;
    width: 10%; 
} 

.btn-login:hover { 
    color:  #f39c12; 
} 

.btn-logOut { 
    color: white; 
    align-content: flex-start; 
    align-items: flex-start; 
    text-align: right; 
    position: fixed; 
    top: 5px; 
    margin-left: 0%; 
    width: 40%; 
} 

.btn-logOut:hover { 
    color:  #f39c12;     
    align-content: flex-start; 
    align-items: flex-start; 
}

.btnAdd {
    margin-left: 75%;
}

.btnRegresar {
    float: right; 
    position: absolute;  
    margin-left: 0.5%;
    width: 70px; 
}

head {
    align-content: center;
    text-align: center;
}

#menuPrincipal {
    margin-top: 4%;
    width: 100%;
    height: 84%;
}

#menuPrincipalReportes {
    margin-top: -3%;
    width: 100%;
    height: 84%;
} 

.menuModulo{
    border: 1px solid #FFF;
    margin-top: -10px;
}

/*.tblHxs-00 {
    width: 3.5%;
    float: left;
}

.tblHxsty-00 {
    width: 4.0%;
    float: left;
}

.tblHxsty-0 {
    width: 4.3%;
    float: left;
}

.tblHxsty {
    width: 5.0%;
    float: left;
}

.tblHxs-0 {
    width: 7.5%;
    float: left;
}

.tblHxs {
    width: 10%;
    float: left;
}

.tblHs-0 {
    width: 13%;
    float: left;
}

.tblHs {
    width: 20%;
    float: left;
}

.tblHm-00 {
    width: 22.5%;
    float: left;
}

.tblHm-0 {
    width: 25%;
    float: left;
}

.tblHm {
    width: 30%;
    float: left;
}

.tblHl {
    width: 40%;
    float: left;
}

.tblHxl {
    width: 60%;
    float: left;
}

.tblBx {
    width: 5%;
    float: left;
}

.tblBxs-00 {
    width: 3.5%;
    float: left;
}

.tblBxsty-00 {
    width: 4.0%;
    float: left;
}

.tblBxsty-0 {
    width: 4.3%;
    float: left;
}

.tblBxsty {
    width: 5.0%;
    float: left;
}

.tblBxs-0 {
    width: 7.5%;
    float: left;
}

.tblBxs {
    width: 10%;
    float: left;
}

.tblBs-0 {
    width: 12.8%;
    float: left;
}

.tblBs {
    width: 20%;
    float: left;
}

.tblBm-00 {
    width: 22.48%;
    float: left;
}

.tblBm-0 {
    width: 25%;
    float: left;
}

.tblBm {
    width: 30%;
    float: left;
}

.tblBl {
    width: 40%;
    float: left;
}

.tblBxl {
    width: 60%;
    float: left;
}

.tblHAdmin {
    width: 24.9%;
    float: left;
}

.tblBAdmin {
    width: 24.9%;
    float: left;
}*/

.modal-lg { 
    max-width: 94% !important; 
} 

/* PROPIEDADES PRA LOS PANEL DE OPL */
.no {
    display:none;
}
.si {
    display:block;
} 
