/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Sep-2019, 10:29:58
    Author     : PRR1TL
*/


@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

* {
    padding:0; 
    margin:0; 
} 

body { 
  font-family: "Archivo Narrow"; 
  font-size: 19px; 
} 

.amcharts-chart-div a { 
    display:none !important; 
} 

.tableContenido{ 
    width: 225px; 
} 

.jidokaDay {
    height: 60vh; 
    width: 98%; 
    float: left;  
    margin: 0% 0%;
}

.pnlOpcion{
    margin-left: 1%;
}

.pnlPickers{
    margin-top: 35%;
    margin-left: 3%;
}

.pickers { 
    width: 110px; 
    height: 24px;
}



.btnTop3 {
    float: right;
    position: absolute; 
    top: 1.5vh; 
    left: 93%;
    width: 5.6%
}

.tituloPareto {
    text-align: center;
    margin: 0.8% auto;
    position: fixed; 
    top: -1px; 
    left: 0; 
    right: 50%; 
    width: 100%;
    color: #FFFFFF;
}

.imagen-SEG {
    margin-top: 0px; 
    margin-left: -3.9%;
}

.btn-Home { 
    align-content: flex-start; 
    align-items: flex-start; 
    position: absolute; 
    top: 0%;
    margin-left: 155px;
    width: 45px; 
    height: 45px; 
    z-index: 1001; 
} 

.imagen-Home {
    width: 100%; 
    height: 100%; 
    margin-left: 5%; 
    margin-top: -2%;
}

#headerFixed { 
    font-size: 40px; 
    margin: -2% 1%; 
    background: #08088A; 
    color: white; 
    width: 98%; 
    position: fixed; 
    z-index: 1001; 
} 

#pnlHoja {
    width: 100%; 
    overflow: hidden; 
    background: white; 
    margin: 2% auto auto; 
    /*box-shadow: 0 0 80px rgba(0,0,0,2);*/
    justify-content: center; 
}

#pnlGraficas { 
    margin-top: 1.5vh; 
    width: 100%; 
} 

#pnlTabla { 
    width: 98%; 
    height: 130%; 
    /*max-height: calc(580vh - 190px);*/
    margin: 2% 4%; 
} 

#titleGraf {
    float: left;
    text-decoration: none;
}	

.contenedor {
    display:flex;
}

.contenedor > div {
    flex:1;
    display:flex;
}

.fila0 { 
    float: left; 
    background: #008C5B; 
}

.fila1 { 
    float: left; 
    background: #02538B; 
}

.icono-centro {
    margin-top: -3px;
    margin-left: -7px;
}


