#chart {
    height: 440px;
    width: 100%;
}

#chart.pointer-on-bars .dxc-series rect {
    cursor: pointer;
}

.button-container {
    text-align: center;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 0px;
}

.button-containerOrg {
    text-align: center;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 0px;
}